

.navbar{
    background-color: #1f2937 !important;
}

@media (max-width:810px){
    .sidebar{
        display:none;
    }
    .mainBody{
        display: grid;
        justify-items: center;
    }
   
}

@media (min-width:811px){
    .navbar{
        display: none;
    }
    
}